{
  "shodan": {
    "api_key": "YOUR_API_KEY_HERE"
  },
  "connection": {
    "timeout": 30,
    "port_check_timeout": 10,
    "rate_limit_delay": 3,
    "share_access_delay": 7
  },
  "files": {
    "default_exclusion_file": "exclusion_list.txt"
  },
  "countries": {
    "US": "United States",
    "GB": "United Kingdom", 
    "CA": "Canada",
    "IE": "Ireland",
    "AU": "Australia",
    "NZ": "New Zealand",
    "ZA": "South Africa"
  },
  "security": {
    "ransomware_indicators": [
      "!want_to_cry.txt",
      "0XXX_DECRYPTION_README.TXT",
      "HOW_TO_DECRYPT",
      "RESTORE_FILES",
      "DECRYPT_INSTRUCTION",
      "Help_Restore_Your_Files",
      "READ_IT.txt",
      "HELP_DECRYPT",
      "HOW_TO_RECOVER",
      "README-FILE-",
      "LOCKFILE-README-",
      "_recover_instructions",
      "DECRYPT_YOUR_FILES",
      "ransom_note",
      "payment_instructions",
      "contact_here",
      "files_encrypted",
      "ATTENTION.txt",
      "!!!readme!!!",
      "recover_data",
      "unlock_files"
    ]
  },
  "gui": {
    "operation_timeout_seconds": null,
    "enable_debug_timeouts": false
  },
  "file_collection": {
    "max_files_per_target": 3,
    "max_total_size_mb": 500,
    "download_delay_seconds": 2,
    "max_directory_depth": 3,
    "enumeration_timeout_seconds": 120,
    "included_extensions": [
      ".pdf", ".doc", ".docx", ".xls", ".xlsx", ".ppt", ".pptx", ".txt", ".rtf", ".csv",
      ".eml", ".msg", ".mbox", ".jpg", ".jpeg", ".png", ".gif", ".bmp", ".tiff",
      ".mp4", ".mov", ".avi", ".mkv", ".wmv", ".mp3", ".wav", ".zip", ".rar"
    ],
    "excluded_extensions": [
      ".exe", ".dll", ".sys", ".bat", ".cmd", ".scr", ".com", ".pif", ".msi", 
      ".bin", ".log", ".tmp", ".temp", ".bak", ".old", ".swp", ".lock"
    ]
  }
}